<!DOCTYPE html>
<html>
<head>
    <title>Rom Create</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

</head>
<body>
<div class="room pages">
    <div class="room list">

    </div>
</div>
</body>
</html>
